.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #999999;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-container {
  height: calc(100vh - 123px);
  padding: 5px;
  text-align: center;
  margin: auto;
  margin-top: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100vw !important;
}

.amenities-page-container {
  min-height: calc(100vh - 123px);
  height: auto;
  padding: 5px;
  text-align: center;
  margin: auto;
  margin-top: 80px;
  max-width: 100vw !important;
}

.inner-data {
  min-height: calc(100vh - 123px) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none !important;
}

@media only screen and (min-width: 1200px) {
  .page-container {
    max-width: 990px !important;
  }
}

.MuiFormHelperText-contained {
  font-size: 14px !important;
  font-weight:600 !important;
}

.MuiList-root {
  width: 300px !important;
  margin: auto !important;
}

.MuiListItem-gutters {
  border-bottom: 1px solid #aaa5;
}